body {
  background-image: url("https://img.freepik.com/free-photo/close-up-white-marble-textured-wall_53876-139849.jpg")!important;
}

.all-prayers {
  max-width: 1500px;
  margin: auto;
}

.card-header {
  background-color: #FFF7ED!important;
}

.prayer-cards {
  display: flex;
  justify-content: center;
}

input {
  background-color: #FFF7ED;
  border-color: #CC8B8C;
  border-radius: 5px;
}

.signup-header {
  display: flex;
  justify-content: center;
  width: 75%;
}

.prayers-header {
  display: flex;
  justify-content: center;
}

.prayers-menu {
  display: flex;
  justify-content: center;
}

.accordion {
  width: 75%;
}

.accordion-body {
  background-color: #CC8B8C;
}

.navbar {
  background-color: #CC8B8C;
}

button {
  background-color: #FFF7ED!important;
  padding: 0px!important;
  border-radius: 5px!important;
}

.prayers-new form {
  background-color: #CC8B8C;
  height: 100vh;
  border-radius: 5px;
}

.prayers-new {
  background-color: transparent;
  float: right;
}

.text-box {
  width: 250px;
}

.body-box {
  padding-bottom: 150px;
  width: 250px;
}

footer {
  background-color: #CC8B8C;
  border-radius: 5px;
}