body {
  background-image: url("https://img.freepik.com/free-photo/close-up-white-marble-textured-wall_53876-139849.jpg")!important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15 px;
  width: 100%
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}

.signup-form {
  background-color: #CC8B8C;
  border-radius: 5px;
}

.login-container {
  margin: 0;
  padding: 0;
}

.login-form {
  background-color: #CC8B8C;
  border-radius: 5px;
}

.all-prayers {
  /* max-width: 1500px; */
  /* margin: auto; */
}

.card-header {
  background-color: #FFF7ED!important;
}

.prayer-cards {
  display: flex;
  justify-content: center;
}

input {
  background-color: #FFF7ED;
  border-color: #CC8B8C;
  border-radius: 5px;
}

.prayers-header {
  display: flex;
  justify-content: center;
}

.prayers-menu {
  display: flex;
  justify-content: center;
}

.accordion {
  width: 75%;
}

.accordion-body {
  background-color: #CC8B8C;
}

.navbar {
  background-color: #CC8B8C;
}

button {
  background-color: #FFF7ED!important;
  padding: 0px!important;
  border-radius: 5px!important;
}

.prayers-new form {
  background-color: #CC8B8C;
  border-radius: 5px;
}

.prayers-new {
  background-color: transparent;
  float: right;
}

.body-box {
  padding-bottom: 150px;
}

footer {
  background-color: #CC8B8C;
  border-radius: 5px;
}