.all-prayers {
  max-width: 1500px;
  margin: auto;
}
.card-header {
  background-color: #FFF7ED!important;
}

.accordion {
  justify-content: left;
}

.navbar {
  background-color: #CC8B8C;
}

button {
  background-color: #FFF7ED!important;
}

.prayers-new form {
  background-color: #CC8B8C;
  height: 100vh;
  border-radius: 5px;

}

.prayers-new {
  background-color: transparent;
  float: right;
}

.text-box {
  width: 250px;
}

.body-box {
  padding-bottom: 150px;
  width: 250px;
}

footer {
  background-color: #CC8B8C;
}